<%= form_with(model: scheduled_agenda) do |form| %>
  <% if scheduled_agenda.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(scheduled_agenda.errors.count, "error") %> prohibited this scheduled_agenda from being saved:</h2>

      <ul>
        <% scheduled_agenda.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :direccion %>
    <%= form.text_field :address %>
  </div>

  <div class="field">
    <%= form.label 'nombre del contacto' %>
    <%= form.text_field :contact_name %>
  </div>

  <div class="field">
    <%= form.label 'email del contacto' %>
    <%= form.text_field :contact_email %>
  </div>

  <div class="field">
    <%= form.label 'telefono del contacto' %>
    <%= form.text_field :contact_phone_number %>
  </div>

  <div class="field">
    <%= form.label 'fecha de recogida' %>
    <%= form.date_select :scheduled_date %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
