<p id="notice"><%= notice %></p>

<h1>Agenda cita</h1>

<table>
  <thead>
    <tr>
      <th>Direccion</th>
      <th>nombre del contacto</th>
      <th>email del contacto</th>
      <th>Telefono del contacto</th>
      <th>Fecha de recogida</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @scheduled_agendas.each do |scheduled_agenda| %>
      <tr>
        <% if current_user.user?() && current_user.id == scheduled_agenda.owner_id %>
          <td><%= scheduled_agenda.address %></td>
          <td><%= scheduled_agenda.contact_name %></td>
          <td><%= scheduled_agenda.contact_email %></td>
          <td><%= scheduled_agenda.contact_phone_number %></td>
          <td><%= scheduled_agenda.scheduled_date %></td>
          <td><%= link_to 'Mostrar', scheduled_agenda %></td>
          <% if current_user.user?() %>
            <td><%= link_to 'Editar', edit_scheduled_agenda_path(scheduled_agenda) %></td>
            <td><%= link_to 'Eliminar', scheduled_agenda, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
        <% else  %>
          <% if current_user.admin?() %>
            <td><%= scheduled_agenda.address %></td>
            <td><%= scheduled_agenda.contact_name %></td>
            <td><%= scheduled_agenda.contact_email %></td>
            <td><%= scheduled_agenda.contact_phone_number %></td>
            <td><%= scheduled_agenda.scheduled_date %></td>
            <td><%= link_to 'Mostrar', scheduled_agenda %></td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if current_user.user?() %>
  <%= link_to 'Nueva agenda', new_scheduled_agenda_path %>
<% end %>
