<%= form_with(model: article) do |form| %>
  <% if article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
        <% article.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nombre %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :cantidad %>
    <%= form.text_field :stock %>
  </div>

  <div class="field">
    <%= form.label :costo %>
    <%= form.text_field :rate %>
  </div>

  <div class="field">
    <%= form.label :puntaje %>
    <%= form.text_field :score %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
