<p id="notice"><%= notice %></p>

<% if current_user.admin?() %>
  <h1>Gestion de los articulos</h1>
<% else %>
  <h1>Bienvenidos a la tienda Virtual</h1>
<% end %>

<table>
  <thead>
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">Cantidad</th>
      <th scope="col">Costo</th>
      <th scope="col">Puntos</th>
      <th scope="col" colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td data-label="Nombre"><%= article.name %></td>
        <td data-label="Cantidad"><%= article.stock %></td>
        <td data-label="Costo"><%= article.rate %></td>
        <td data-label="Puntos"><%= article.score %></td>
        <td data-label="Mostrar"><%= link_to 'Mostrar', article %></td>

        <% if current_user.admin?() %>
          <td data-label="Editar"><%= link_to 'Editar', edit_article_path(article) %></td>
          <td data-label="Eliminar"><%= link_to 'Eliminar', article, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if current_user.admin?() %>
  <%= link_to 'Nuevo Articulo', new_article_path %>
<% end %>

<br/>
<br/>
