<p id="notice"><%= notice %></p>

<% if current_user.admin?() %>
  <h1>Gestion de los articulos</h1>
<% else %>
  <h1>Bienvenidos a la tienda Virtual</h1>
<% end %>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Cantidad</th>
      <th>Costo</th>
      <th>Puntos</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= article.name %></td>
        <td><%= article.stock %></td>
        <td><%= article.rate %></td>
        <td><%= article.score %></td>
        <td><%= link_to 'Mostrar', article %></td>

        <% if current_user.admin?() %>
          <td><%= link_to 'Editar', edit_article_path(article) %></td>
          <td><%= link_to 'Eliminar', article, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if current_user.admin?() %>
  <%= link_to 'Nuevo Articulo', new_article_path %>
<% end %>

<br/>
<br/>
