<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @article.name %>
</p>

<p>
  <strong>Stock:</strong>
  <%= @article.stock %>
</p>

<p>
  <strong>Rate:</strong>
  <%= @article.rate %>
</p>

<% if current_user.admin?() %>
  <%= link_to 'Edit', edit_article_path(@article) %> |
<% end %>
<%= link_to 'Back', articles_path %>
