<div class="wrapper">
  <div class="sidebar">
    <div class="profile">
      <img src="https://1.bp.blogspot.com/-vhmWFWO2r8U/YLjr2A57toI/AAAAAAAACO4/0GBonlEZPmAiQW4uvkCTm5LvlJVd_-l_wCNcBGAsYHQ/s16000/team-1-2.jpg" alt="profile_picture">
      <h3><%= current_user.name %></h3>
      <p> <%= current_user.role %></p>
    </div>
    <br/>
    <% if current_user.user?() %>
      <p style="color: white;">My score: <%= current_user.score %></p>
    <% end %>
    <br/>
    <br/>
    <ul>
      <li>
        <a href="<%= scheduled_agendas_path %>" class="active">
          <span class="item">Agendar Cita</span>
        </a>
      </li>

      <li>
        <a href="<%= articles_path %>">
          <% if current_user.admin?() %>
            <span class="item">Gestionar articulos</span>
          <% else %>
            <span class="item">Tienda Virtual</span>
          <% end %>
        </a>
      </li>

      <% if current_user.admin? %>
        <li>
            <a href="<%= categories_path %>">
              <span class="item">Puntos x Categoria</span>
            </a>
        </li>
        <li>
            <a href="<%= products_path %>">
              <span class="item">Productos</span>
            </a>
        </li>
        <li>
            <a href="<%= certificates_path %>">
              <span class="item">Certificar</span>
            </a>
        </li>
      <% end %>
      <li>
        <%= link_to "Cerrar session", destroy_user_session_path, method: :delete %>
      </li>
    </ul>
  </div>
</div>

<style media="screen">
  *{
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
  }

  body{
    background: #f5f6fa;
  }


  .wrapper .sidebar{
    background: rgb(5, 68, 104);
    position: fixed;
    top: 0;
    left: 0;
    width: 225px;
    height: 100%;
    padding: 20px 0;
    transition: all 0.5s ease;
  }

  .wrapper .sidebar .profile{
    margin-bottom: 30px;
    text-align: center;
  }

  .wrapper .sidebar .profile img{
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 auto;
  }

  .wrapper .sidebar .profile h3{
    color: #ffffff;
    margin: 10px 0 5px;
  }

  .wrapper .sidebar .profile p{
    color: rgb(206, 240, 253);
    font-size: 14px;
  }

  .wrapper .sidebar ul li a{
    display: block;
    padding: 13px 30px;
    border-bottom: 1px solid #10558d;
    color: rgb(241, 237, 237);
    font-size: 16px;
    position: relative;
  }

  .wrapper .sidebar ul li a .icon{
    color: #dee4ec;
    width: 30px;
    display: inline-block;
  }

  .wrapper .sidebar ul li a:hover,
  .wrapper .sidebar ul li a.active{
    color: #0c7db1;
    background:white;
    border-right: 2px solid rgb(5, 68, 104);
  }

  .wrapper .sidebar ul li a:hover .icon,
  .wrapper .sidebar ul li a.active .icon{
    color: #0c7db1;
  }

  .wrapper .sidebar ul li a:hover:before,
  .wrapper .sidebar ul li a.active:before{
    display: block;
  }

</style>
