<h1>Statics#home2</h1>
<p>Find me in app/views/statics/home.html.erb</p>
<br/>
<p> User name:  <%= current_user.name %></p>
<p>Role: <%= current_user.role %></p>
<% if current_user.user?() %>
  <p>My score: <%= current_user.score %></p>
  <br/>
<% end %>
<%= link_to "Agendar Cita", scheduled_agendas_path, method: :get %>
<br/>
<br/>
<% if current_user.admin?() %>
  <%= link_to "Gestion de articulos", scheduled_agendas_path, method: :get %>
<% else %>
  <%= link_to "Tienda virtual", articles_path, method: :get %>
<% end %>
<br/>
<br/>

<% if current_user.admin? %>
  <%= link_to "Puntos x Categorias", categories_path, method: :get %>
  <br/>
  <%= link_to "Productos", products_path, method: :get %>
  <br/>
<% end %>

<br/>
<br/>
<%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
