<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @admin_product.description %>
</p>

<p>
  <strong>High:</strong>
  <%= @admin_product.high %>
</p>

<p>
  <strong>Width:</strong>
  <%= @admin_product.width %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @admin_product.weight %>
</p>

<p>
  <strong>Observation:</strong>
  <%= @admin_product.observation %>
</p>

<%= link_to 'Edit', edit_admin_product_path(@admin_product) %> |
<%= link_to 'Back', admin_products_path %>
