<p id="notice"><%= notice %></p>

<h1>Categoria</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Puntaje</th>
      <th>Costo</th>
      <th>Estado</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.name %></td>
        <td><%= category.score %></td>
        <td><%= category.rate %></td>
        <td><%= category.is_active %></td>
        <td><%= link_to 'Mostrar', category %></td>
        <td><%= link_to 'Editar', edit_category_path(category) %></td>
        <td><%= link_to 'Eliminar', category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nueva categoria', new_category_path %>
<br/>
