<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @category.name %>
</p>

<p>
  <strong>Score:</strong>
  <%= @category.score %>
</p>

<p>
  <strong>Rate:</strong>
  <%= @category.rate %>
</p>

<p>
  <strong>Is active:</strong>
  <%= @category.is_active %>
</p>

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
