<%= form_with(model: @user, url: admin_user_path(@user), method: :put, local: true) do |form| %>
<% if @user %>
  <div id="error_explanation">
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited this post from being saved:</h2>

    <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

  <div class="field">
    <%= form.label :nombre %>
    <%= form.text_field :name, value: @user.name %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.email_field :email, value: @user.email %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
