<%= form_with(model: @user, url: "/admin/users", method: :post, local: true) do |form| %>
<% if @user %>
  <div id="error_explanation">
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited this post from being saved:</h2>

    <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.email_field :email %>
  </div>
  <select name="role" id="role">
    <option value="admin">Admin</option>
    <option value="user">User</option>
    <option value="mananger">Mananger</option>
  </select>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
