<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>High:</strong>
  <%= @product.high %>
</p>

<p>
  <strong>Width:</strong>
  <%= @product.width %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @product.weight %>
</p>

<p>
  <strong>Observation:</strong>
  <%= @product.observation %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
