<p id="notice"><%= notice %></p>

<p>
  <strong>descripcion:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Alto:</strong>
  <%= @product.high %>
</p>

<p>
  <strong>Ancho:</strong>
  <%= @product.width %>
</p>

<p>
  <strong>Peso:</strong>
  <%= @product.weight %>
</p>

<p>
  <strong>Observacion:</strong>
  <%= @product.observation %>
</p>

<%= link_to 'Editar', edit_product_path(@product) %> |
<%= link_to 'Atras', products_path %>
